@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

#container {
    display: flex;
    flex-flow: row wrap;
    background: linear-gradient(to top,rgba(60, 33, 71, 0.5),rgba(210,210,210,0.8));
    height: 11em


}

.country-title{
    margin-left: 10%;
}


